.gensect.gensect__faq {
    padding-top: 50px;
}


.faqsection__box {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.faqsection__header {
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
    background: #EFC47A;
    min-height: 45px;
    padding: 2px 60px 2px 25px;
    display: flex;
    align-items: center;
    position: relative;

    .faq-closeshow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 25px;
        width: 18px;
        height: 18px;
        background-image: url('../img/svg/faq-close.svg');
        cursor: pointer;
    }

    p {
        margin: 0;
        font-size: 18px;
        line-height: 25px;
    }
}

.faqsection__body {
    padding: 23px 25px;
    background-color: #fff;

    p {
        font-weight: 300;
        font-size: 15px;
        line-height: 20px;

        a {
            color: #2c281b;

            &:hover {
                text-decoration: underline;
            }
        }

        &:last-child {
            margin: 0;
        }
    }

    ul {
        li {
            position: relative;
            padding-left: 28px;
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0;
            }

            &:after {
                content: '';
                display: inline-block;
                width: 8px;
                height: 8px;
                position: absolute;
                left: 0;
                top: 6px;
                background: #EFC47A;
            }
        }
    }
}

.contactform {
    input:not([type="submit"]) {
        margin-bottom: 30px;
        width: 100%;
        background: #fff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        height: 50px;
        border: none;
        outline: none;
        padding-left: 20px;
    }

    textarea {
        width: 100%;
        background: #fff;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.25);
        height: 96px;
        border: none;
        outline: none;
        padding: 10px 20px;
        margin-bottom: 40px;
    }

    .submitbtn {
        width: 255px;
        margin: 0 auto;

        &:hover {
            color: #2c281b;
            background: #fff;
        }
    }
}

.faqsection__header {
    .faq-closeshow {
        background-size: 100%;
        background-position: center;
    }
}

.faqsection__header.arrowimg {
    .faq-closeshow {
        background-image: url('../img/svg/arrow-bottom2.svg');
    }
}